.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

body{
    background-image:url("assets\images\background.jpeg");
}

h1,
h3,
.submit{
    background:#8499B1;
    color:#394F49;
}
.nameblock{    
    display: inline;
}

h1{
    background:#8499B1;
    box-sizing:border-box;
    font-size:1.75em;   
    height: 110px;
    width:150px;
    margin-left:150px; 
    text-align: center;
    
}

li {
    border-right: 1px solid #8B8982;
    display: inline;
    font-weight:bold;
    list-style-type: none;
    padding: 0 15px;
    text-decoration: none;
        /* font-size: 1.25em; */
}

nav{
    float: right;
    margin-right: 20%;
    margin-left:0;
    
}
a:link {
    text-decoration: none;
  }
  
header{
    background: #C7D0DB;
    border-bottom:2px solid  #8B8982;
    height: 110px;
    margin: 0;
}


h2{
    border-bottom: 5px solid #8B8982;
    color: #8499B1;
    padding:25px;
}

p{
    color:#394F49;
}

.main{
    background: #E2DADB;
    margin:50px auto 0 auto;
    padding:0 25px 15px 25px;
    width:60%;
    
}
/* page specific styles */
/* index */
.aboutimage{
    float:left;
    margin-right:10px;
    margin-bottom: 10px;

}

/* contact */
input,
label,
textarea{
    display:block;
    margin: auto;
    width:90%;

}
input{
    margin-bottom:10px;
}
label{
    margin-bottom:2px;
}
textarea{
    display:block;
    height:200px;    
}
.formContainer{
    margin:auto;
    position: relative;

    /* grid-auto-rows:; */
}

.submit {
    cursor: pointer;
    margin-top:15px;
    padding: 14px 20px;
    /* position: absolute; */
    /* left: 5%;     */
    width: 15%;
  }
  /* portfolio */
  .portfolioItem{
    display: grid;
    grid-template-columns:1fr, 1fr;
    grid-gap: 10px;
  }

.hangman{
    grid-column: 1;
    grid-row:1;
    }
.rpg{
    grid-column: 2;
    grid-row: 1;
}
  
  h3{
    
      width: 350px;
    
  }