.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

body{
    background-image:url(https://images.pexels.com/photos/1020315/pexels-photo-1020315.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    /* background-image: url(assets\images\background.jpeg); */
    
}
header{
    background: #fff;
    border-bottom:5px solid #ccc;
    height: 110px;
    widows: 100%;
    margin: 0;
}
.nameblock,
h3,
.submit{
    background:#4aaaa5;
    color:#fff;
}
.nameblock{    
    display: inline-block;
    height: 110px;
    width:150px;
    margin-left:20%;
}

h1{
    background:#4aaaa5;
    box-sizing:border-box;
    font-size:1.75em;   
    text-align: center;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

li {
    border-right: 1px solid #4aaaa5;
    display: inline;
    font-weight:bold;
    list-style-type: none;
    padding: 0 15px;
    text-decoration: none;    
}

nav{
    float: right;
    margin-right: 20%;
    margin-left:0;
    margin-top:25px;
    
}
a:link {
    text-decoration: none;
  }
 
a:visited{
    color:#394F49;
}  

a:hover{
    color:#344FC9;
}

h2{
    border-bottom: 5px solid #ddd;
    color: #4aaaa5;
    padding:25px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

p{
    color:#777;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.main{
    background: #fff;
    border: 2px solid #ddd;
    margin:50px auto 0 auto;
    padding:0 25px 15px 25px;
    width:60%;    
}
/* Footer */
footer{
    background: #777;
    border-top: 5px solid #4aaaa5;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding-top:1%;
    text-align: center;
    font-size:.75em;
    color:white;
    position: fixed;
    bottom:0;
    width: 100%;
}
/* page specific styles */
/* index */
.aboutimage{
    float:left;
    margin-right:10px;
    margin-bottom: 10px;

}

/* contact */
input,
label,
textarea{
    display:block;
    margin: auto;
    width:90%;

}
input{
    margin-bottom:10px;
}
label{
    margin-bottom:2px;
}
textarea{
    display:block;
    height:200px;    
}
.formContainer{
    margin:auto;
    position: relative;

    /* grid-auto-rows:; */
}

.submit {
    cursor: pointer;
    margin-top:15px;
    padding: 14px 20px;
    /* position: absolute; */
    /* left: 5%;     */
    width: 15%;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  }
  /* portfolio */
  .portfolioItem{
    display: grid;
    grid-template-columns:1fr, 1fr;
    grid-gap: 10px;
    position: relative;

  }

.hangman{
    grid-column: 1;
    grid-row:1;
    }
.rpg{
    grid-column: 2;
    grid-row: 1;
}
  
  h3{
      width: 350px;
      position: relative;
      bottom: 20%;
      padding-top: 3%;
      padding-bottom: 3%;
      text-indent: 5%;

    
  }